.env

front/coverage


server/config.ini
server/gotrading.log
server/.env
server/tmp/runner-build

pyapi/.env


terraform/.envrc
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/.tfvars
terraform/crash.log

stockdata.sql

.DS_Store
